.app_header {
  padding: 20px;
  width: 20rem;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.app_logo {
  height: 80px;
  object-fit: cover;
  border-radius: -9%;
  width: 100%;
  border-radius: 17px 17px;
  border: solid 2px grey;
}
