.posts_section {
  margin: 19px 24px;
  display: grid;
  place-items: center;
  padding: 20px 0;
  border: solid 2px grey;
  border-radius: 17px 17px;
}

.posts_title {
  position: relative;
}

.create_post {
  border: solid 2px grey;
  margin: 19px 24px;
  padding: 20px 0;
  border-radius: 17px 17px;
}
