.users_section {
  padding: 20px 0;
}

.users {
  margin-top: 20px;
  border: solid 1px f6f6f8;
  background-color: #ffffff;
  width: 60%;
  overflow-y: auto;
  scrollbar-width: thin;
  border-radius: 8px;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 95vh;
}

.user {
  list-style-type: none;
  margin-left: -20px;
  margin-top: 18px;
}

.avatar {
  display: inline-block;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: -10px;
}
