#admin {
  display: flex;
}

.admin_header {
  text-align: center;
  line-height: 50px;
  background-color: gainsboro;
}
.SideMenu {
  flex-grow: 1;
  border-right: solid 2px blue;
}

#admin_body {
  flex-grow: 6;
  padding-left: 15px;
}
